In [1]:
import pandas as pd
import numpy as np

In [3]:
# Define the date range
date_range = pd.date_range(start='2012-01-01', end='2024-12-31', freq='D')

# Create a DataFrame
calendar_df = pd.DataFrame({
    'Date': date_range,
    'Year': date_range.year,
    'Quarter': date_range.quarter,
    'Month': date_range.month,
    'Name of Month': date_range.strftime('%B'),  # Full month name
    'Day': date_range.day
})

# Show the first few rows
calendar_df.tail()

           Date  Year  Quarter  Month Name of Month  Day
4744 2024-12-27  2024        4     12      December   27
4745 2024-12-28  2024        4     12      December   28
4746 2024-12-29  2024        4     12      December   29
4747 2024-12-30  2024        4     12      December   30
4748 2024-12-31  2024        4     12      December   31

In [4]:
# Save the DataFrame to an Excel file
calendar_df.to_excel('calendar_table.xlsx', index=False)

print("Calendar table saved as 'calendar_table.xlsx'.")

Calendar table saved as 'calendar_table.xlsx'.